attrs==17.4.0
cycler==0.10.0
numpy==1.15.0
pluggy==0.6.0
py==1.5.2
pykep==2.3
pyparsing==2.2.0
pytest==3.4.0
python-dateutil==2.6.1
pytz==2018.3
scipy==1.2.0
six==1.11.0
#gdal==2.3.3
geographiclib==1.49
dateutil==2.8.0
pyorbital==1.5.0
